@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Hind", sans-serif;
    color: white;
    font-weight: 900;
    font-size: 5rem;
    line-height: 70px;
  }

  @media (700px) {
    h1 {
      font-size: 2rem;
    }
  }

  h2 {
    font-family: "Hind", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 50px;
  }

  h3 {
    font-family: "Hind", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 2rem;
  }

  h4 {
    font-family: "Hind", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
  }

  a {
    color: white;
    font-family: "Hind", sans-serif;
  }

  p {
    color: white;
    font-size: 0.975rem;
    font-family: "Hind", sans-serif;
  }

  .burger.left-0 .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.left-0 .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.left-0 .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
